.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 1.25em;
  border-radius: 8px;
  position: relative;
  flex: 0 1 auto;
  width: 300px;
  height: 400px;
  gap: 1em;
}

.modal-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-text-container-message {
  display: block;
  align-self: start;
  text-align: center;
}

.modal-text-container-header {
  font-weight: bold;
  font-size: 2em;
  max-height: 0.5em;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  flex: 0 1 auto;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 1px;
  left: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-form-input {
  max-width: 90%;
  padding: 0.8em;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
  width: 90%;
}

.modal-form-input-button {
  display: flex;
  justify-content: center;
  padding: 0.75em 2em;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.5s;
  width: 100%;
}

.modal-form-input:focus {
  border: 1px solid #1ca3ec;
}

.modal-form-input-button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
}

.modal-form-input-button:disabled {
  background-color: #3d94cf;
  opacity: 0.5;
}

.invalid {
  border: 1px solid red;
}
