@use '../../styles//typesColors.scss';

.pokemon-item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #fff;
  flex: 0 1 auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pokemon-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.pokemon-item-img {
  width: 50%;
  height: auto;
}

.pokemon-item-data {
  padding: 0.75em;
}

.pokemon-item-data-number {
  font-weight: bold;
  color: #888;
}

.pokemon-item-data-name {
  font-size: 1.12em;
  font-weight: bold;
  margin-top: 0.4em;
  text-transform: capitalize;
  color: #797979;
}

.pokemon-item-data-types {
  display: flex;
  gap: 0.4em;
  justify-content: center;
  margin-top: 0.5em;
  font-weight: bold;
}

.pokemon-item-data-types-type {
  padding: 0.4em 0.5em;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  text-transform: capitalize;
  min-width: 3.75em;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.pokemon-item-data-types-type:hover {
  transform: scale(1.1);
  background-color: #333;
  background: #333;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .pokemon-item-data-types {
    flex-direction: column;
  }
}
